<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="login-screen">
      <div class="div">
        <img class="logo" src="img/logo.png" />
        <div class="group">
          <div class="overlap">
            <div class="group-wrapper">
              <div class="overlap-wrapper">
                <div class="overlap-group">
                  <div class="adminlogin"></div>
                  <div class="group-2">
                    <div class="text-wrapper">Username</div>
                    <img class="line" src="img/line-1.svg" />
                  </div>
                  <div class="group-3">
                    <div class="text-wrapper-2">Password</div>
                    <img class="img" src="img/line-2.svg" />
                  </div>
                  <div class="overlap-group-wrapper">
                    <div class="overlap-group-2">
                      <div class="rectangle"></div>
                      <div class="text-wrapper-3">Sign In</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <input class="username" />
            <input class="password" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
